body, hr{
  font-family: Roboto;
  margin: 0;
}

.search-container {
  display: flex;
  justify-content: center;
  padding-bottom: 20px;
}

.search-input {
  padding: 5px;
  width: 200px;
  margin-right: 5px;
}

.search-button {
  padding: 5px 10px;
  background-color: white;
  border: 1px solid #4682b4;
  color: #4682b4;
  cursor: pointer;
}

.submit{
  padding: 5px 10px;
  background-color: white;
  border: 1px solid #4682b4;
  color: #4682b4;
  cursor: pointer;
  margin-left: 10px;
}

.search-button:hover {
  background-color: lightblue;
  color: white;
}

table, tr, th, td, caption {
  border: 1.5px solid grey;
  font-family: 'Courier New', Courier, monospace;
  border-collapse: collapse;
  padding: 0.5rem;
  text-align: center;
  margin: auto;
}

.table{
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
}

.tableTitle{
  font-size: 24px;
  font-family:Verdana, Geneva, Tahoma, sans-serif;
  background-color: rgb(227, 238, 255);
}

header, h1{
  text-align: center;
  background-color: #4682b4;
  color: whitesmoke;
  padding-top: 10px;
}

h1{
  font-size: 36px;
}
h2{
  margin: 0;
  padding-top: 20px;
  color: #4682b4;
}

a{
  color: whitesmoke;
  text-decoration: none;
}

a:hover{
  text-decoration: underline;
  opacity: 0.6;
}

main, footer{
  background-color: azure;
  padding-left: 10px;
}

ul{
  list-style-type: circle;
}

section{
  margin: 0;
  padding: 0;
}

.contactLinks{
  color:blueviolet;
}

.backToTop{
  color:blueviolet;
  text-decoration: underline;
  margin-bottom: 0;
  padding-bottom: 50px;
  padding-top: 20px;
  margin-left: 5px;
}

.link{
  margin-bottom: 30px;
}

html {scroll-behavior: smooth;}